.instruction__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 29px;

    position: relative;
}

.instruction__section-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instruction__section-title {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.instruction__section-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}
